<div class="container">
  <div class="row">
    <div class="span12">
      <div class="well">

        <h1>Admin Main Page</h1>
        <h3>The following links lead to main administrative areas</h3>
        <table class="table table-bordered table-striped">
          <tr>
            <td><%= link_to "Administrative Users", administrators_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Resources Manager", resources_path %></td>
          </tr>
          <tr>
            <td><%= link_to "FAQs Manager", faqs_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Information Requests", information_requests_path %></td>
          </tr>
        
        </table>
        
      </div>
    </div>
  </div>
</div>
