<% content_for :head do %>
  <title>About Avis Griffith and Coastal Communication Consultants</title>
  <meta name="description" content="This is the page description.">
<% end %>

<div class="row">
  <div class="span12">
    <div class="well">
      <div class="page-header"><h1>About the Practice</h1></div>
      <p class="ccc-p">Coastal Communication Consultants is owned and operated by Avis B. Griffith, MSP, CCC-SLP and is located in Charleston, South Carolina.</p>  
      <br />
      <h2>Experience</h2>
      <p class="ccc-p">Avis is a certified Speech-Language Pathologist who has been in the field of speech pathology since 1982.</p>
      <p class="ccc-p">Her experience includes work in community speech and hearing centers, Home Health service, nursing homes and hospitals, Scottish Rite Childhood Language Disorder Centers in both North and South Carolina, and most recently, private practice.</p> 
      <p class="ccc-p">Her experience also covers a variety of communication areas but special interest areas are the link between language and literacy, auditory processing and attention deficit disorders, reading decoding and comprehension disorders and writing.
While the practice focuses on all communication deficits in children, of particular interest are the areas of auditory processing, reading, and writing in the school-aged population.</p>
      <h2>Education</h2>
      <p class="ccc-p">Avis obtained a Bachelor of Music Therapy degree from the University of Georgia in 1976 and a Master of Speech Pathology degree from the University of South Carolina in 1981.</p>
      <div class="page-header"></div>
      <%= image_tag("Whiteboard.jpg") %>
    </div>
  </div>
</div>
