
<div class="row">
  <div class="span7" style="vertical-align: middle">
    <h2>Coastal Communication Consultants, PC is committed to providing the highest quality speech, language, reading, written language and auditory processing therapy services to children and adolescents in the South Carolina Lowcountry</h2>
  </div>
  <div class="span5">
    <div class="well">
       <%= image_tag("DT_CHS.jpg") %>
    </div>
  </div>
</div>
<div class="row">
   <div class="span4">
     <div class="well">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
     </div>
   </div>
   <div class="span4">
     <div class="well">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
     </div>
   </div>
   <div class="span4">
     <div class="well">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
     </div>
   </div>
  </div>
</div>
 
    




