<div class="row">
  <div class="span12">
    <div class="well">
      <div class="page-header"><h1>Services</h1></div>
      <h3>Diagnostic Evaluations</h5>
      <p>Assessments are personalized to the needs of individual client. Various tests are utilized for ages 2 to 18 years depending on the specific areas of concern. Evaluations are scheduled based on the child's age, difficulties and taking into consideration past evaluations. The length of testing is between one to three hours. A written report and parent conference follow the testing.</p>
      <h3>Screenings</h3>
      <p>Speech, language and hearing creenings are offered to preschools, area private schools and to individuals in the office. The screenings provide a baseline to determine whether additional testing in the areas of speech, language, hearing or academics is needed.</p>
      <h3>Therapy Services</h3><p>Therapy is typically scheduled weekly for an hour in length and includes discussion of home practice suggestions with the attending parent. parents are encouraged to watch their child's therapy session so that treatment is collaborative and they can be comfortable with the follow-up practice at home.</p>
      <h3>Consultation with Area Professionals</h3><p>Most often there are physicians, teachers, audiologists, occupational therapists, physical therapists, tutors or other providers to the child who is being seen in therapy. This practice is available and welcomes the opportunity to collaborate with other providers in the treatment of the whole child.<p>
      <br />
      
      <div class="page-header"><h1>Areas of Specialization</h1></div>
      <div class="ccc-list">
      <ul>
        <li><h4>Articulation / Phonoglogical Delays (Speech Sound Production Disorders)</h4></li>
        <li><h4>Auditory and Language Processing Disorders including:<h4></li>
          <ul>
            <li>Auditory Memory Weakness</li>
            <li>Auditory Discrimination Weaknesses</li>
            <li>Auditory Figure-Ground Weaknesses</li>
            <li>Auditory Attention Weaknesses</li>
            <li>Auditory Cohesion Weakness</li>
          </ul>
        <li><h4>A.D.D Related Language / Listening Disorders</h4></li>
        <li><h4>Expressive and Receptive Language Delays / Disorders</h4></li>
          <ul>
            <li>Preschool level</li>
            <li>School-Aged Level / Academic-Based Language Support</li>
          </ul>
        <li><h4>Language / Literacy Delays / Disorders</h4></li>
          <ul>
            <li>Phonological Awareness Weaknesses</li>
            <li>Reading Decoding Weaknesses</li>
            <li>Reading Comprehension Weaknesses</li>
            <li>Reading Fluency Weakness</li>
          </ul>
        <li><h4>Written Language Disorders including:</h4></li>
          <ul>
            <li>Spelling Weaknesses</li>
            <li>Grammar / Syntax Weakness</li>
            <li>Sentence / Paragraph Composition Weaknesses</li>
            <li>Essay Writing Weakness</li>
          </ul>
        <li><h4>Stuttering (Fluency) Disorders</h4></li>
        <li><h4>Voice Disorders</h4></li>
      </ul>
      </div>
    </div>
  </div>
</div> 
