<% content_for :head do %>
  <title>Testimonials</title>
  <meta name="description" content="Testimonials by Coastal Communication Consultants patient guardians.">
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="well">      
        <div class="page-header"><h1>Testimonials for Coastal Communication Consultants</h1></div>
    
        <div class="well">
           <% @testimonials.each do |testimonial| -%>
            <%= raw testimonial.testimonial_text %>
            <div class="ccc-test-author">-&nbsp;<%= testimonial.written_by %></div>
          <div class="page-header"></div>
        <% end -%>  
        </div>      
      </div>
    </div>
  </div>
</div>
